[Desktop Entry]
Type=Application
Name=BMS
Comment=Select an application to open links and files
Exec=bms open %u
Icon=bakraDElogo
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/bms;text/html;application/xhtml+xml;
Categories=Utility;
